#Header {
    background-color: white;
    padding: 5px 15px;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#leftHeader {
    display: flex;
    gap: 15px;
    align-items: center;

}

#rightHeader {
    display: flex;
    /* gap: 10px; */
    justify-content: space-around;

}

.navicons {
    text-align: center;
}

.navicons h5 {
    margin: 2px 20px;
}